* {
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: "Open Sans";
  line-height: 1.7em;
  color: hsl(222, 4%, 10%);
  margin: 0;
}
[data-title] {
  cursor: pointer;
  border-bottom: 1px dashed #DDDDDD;
}
[hidden] {
  display: none;
}
.pull-right {
  float: right;
}
.pull-right[href="#table-of-contents"] {
  font-size: 12px;
}
.clear {
  clear: both;
}
a {
  color: #5898cc;
  text-decoration: none;
}
a:hover {
  color: #53544A;
}
h1,
h2,
h3,
h4,
code,
pre {
  color: #292B2A;
}
code {
  padding: 2px 5px 3px;
  background: hsl(201, 30%, 95%);
  border-radius: 3px;
}
pre {
  overflow: auto;
  padding: 1em;
  margin-bottom: 1em;
  background: #F5F8FA;
}
pre code {
  display: block;
  padding: 0 3px;
  background: none;
}
pre::-webkit-scrollbar {
  width: 12px;
  height: 4px;
}
pre::-webkit-scrollbar-track {
  background: #F2F5F8;
  border-radius: 0px;
}
pre::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: hsl(0, 0%, 80%);
  cursor: pointer;
}
pre::-webkit-scrollbar-thumb:hover {
  background: #e66401;
}
p {
  margin: 0;
  padding: 1em;
}
p + p {
  padding: 0 1em 1em 1em;
}
p + pre {
  margin-top: 0;
}
ul.nostyle,
ol.nostyle {
  list-style: none;
}
ul.nostyle ul,
ol.nostyle ul,
ul.nostyle ol,
ol.nostyle ol,
ul.nostyle li,
ol.nostyle li {
  list-style: none;
}
ul.inline,
ol.inline {
  padding: 0;
  margin: 0;
}
ul.inline li,
ol.inline li {
  float: left;
  margin-left: 10px;
}
ul.padded,
ol.padded {
  padding: 0 2em 1em;
}
ul.nav,
ol.nav {
  font-size: 12px;
}
ul.nav li a,
ol.nav li a {
  text-transform: uppercase;
}
ul.definition > li,
ol.definition > li {
  font-weight: 600;
  padding: 0 0 1em;
  color: #454E49;
}
ul.definition > li li,
ol.definition > li li {
  color: #7b7e85;
  font-weight: normal;
  text-transform: none;
  padding-top: .5em;
  padding-right: .5em;
}
ul > p,
ol > p {
  padding: 1em 0 0 0;
  margin-left: -1.3em;
}
ul > pre,
ol > pre {
  margin-left: -1.3em;
}
ul li pre,
ol li pre {
  margin-top: .8em;
  margin-left: -5em;
}
header {
  padding: 20px;
  background: url('http://puu.sh/2LLlN.png') no-repeat 99% 0;
}
header h1 {
  font-size: 48pt;
  font-weight: 300;
  text-align: center;
  text-transform: lowercase;
  font-variant: small-caps;
}
header h3 {
  text-align: center;
  line-height: 0;
  padding: 0;
  margin: -1em 0 1em 0;
  font-style: italic;
  color: #CECFD0;
  font-weight: 300;
}
/* Pieces */
.foreword {
  font-style: italic;
  font-weight: 400;
  position: relative;
  padding-bottom: 0 !important;
}
.foreword:before {
  content: "F";
  font-size: 72pt;
  font-family: "UnifrakturMaguntia";
  position: absolute;
  top: 40%;
  right: 30px;
}
.foreword p {
  margin-right: 5em;
}
.toc {
  padding: 1em .8em 4em .3em;
}
.toc ol,
.toc ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.toc ol h4,
.toc ul h4 {
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid #eee;
}
.toc ol > li,
.toc ul > li {
  position: relative;
}
.toc ol > li:before,
.toc ul > li:before {
  content: attr(page);
  float: right;
  padding: 0 10px;
  display: inline-block;
  background: white;
  color: #ccc;
}
.toc > ol > li {
  width: 30%;
  margin: 0 0 0 1.5em;
  float: left;
}
/* Page Styles */
.container {
  width: 960px;
  margin: 0 auto;
}
.container.rounded {
  background: white;
  border-radius: 3px 3px 0 0;
  margin-top: 100px;
}
.container.slim {
  margin-bottom: .5em;
}
.container > .seperator {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eff2f4;
}
.container > .seperator:last-child {
  border-bottom: none;
  padding-bottom: .1em;
}
.seperator.blockquote {
  background: hsl(200, 40%, 95%);
  color: hsl(208, 40%, 50%);
  border-top: none;
}
.seperator.blockquote h1,
.seperator.blockquote h2,
.seperator.blockquote h3 {
  color: hsl(208, 39%, 50%);
  float: right;
  line-height: 1.3em;
}
.seperator.skyblue {
  background: #01A1E6;
  color: #FEFEFE;
  border-top: none;
}
.seperator.skyblue *,
.seperator.skyblue h1,
.seperator.skyblue h2,
.seperator.skyblue h3 {
  color: #FEFEFE;
}
.seperator.skyblue code {
  background: hsl(198, 99%, 35%);
}
.seperator.skyblue pre,
.seperator.skyblue pre code {
  color: #292B2A;
}
.seperator.skyblue pre code {
  background: none;
}
.seperator.bloodorange {
  background: #e66401;
  color: #FEFEFE;
  border-top: none;
}
.seperator.bloodorange *,
.seperator.bloodorange h1,
.seperator.bloodorange h2,
.seperator.bloodorange h3 {
  color: #FEFEFE;
}
.seperator.bloodorange a {
  color: #FEAB1E;
}
.seperator.bloodorange code {
  background: hsl(26, 99%, 35%);
}
.seperator.bloodorange pre,
.seperator.bloodorange pre code {
  color: #292B2A;
}
.seperator.bloodorange pre code {
  background: none;
}
.seperator.junglegreen {
  background: #8BB847;
  color: #FEFEFE;
  border-top: none;
}
.seperator.junglegreen *,
.seperator.junglegreen h1,
.seperator.junglegreen h2,
.seperator.junglegreen h3 {
  color: #FEFEFE;
}
.seperator.junglegreen code {
  background: hsl(84, 44%, 40%);
}
.seperator.junglegreen pre code {
  background: none;
}
.seperator.offwhite {
  background: #FCFCFC;
  border-top: 1px solid hsl(204, 19%, 95%);
}
.seperator h1,
.seperator h2,
.seperator h3 {
  padding: 1em .8em .2em;
  margin: 0;
  position: relative;
}
.seperator h1 .permalink,
.seperator h2 .permalink,
.seperator h3 .permalink {
  position: absolute;
  left: -30px;
  color: #d1d9df;
}
.seperator h1 .permalink:hover,
.seperator h2 .permalink:hover,
.seperator h3 .permalink:hover {
  color: #7690a1;
}
.seperator h2 {
  font-size: 1.1em;
  line-height: 1.5em;
}
.seperator h3 {
  font-size: 1em;
  line-height: 1.3em;
}
h1 + .seperator {
  margin-top: 1em;
}
.rounded {
  border-radius: 5px 5px 5px 5px;
}
.rounded-top {
  border-radius: 5px 5px 0 0;
}
.rounded-bottom {
  border-radius: 0 0 5px 5px;
}
.clear {
  clear: both;
}
/* Just The Tip */
.just-the-tip {
  display: none;
  position: absolute;
  z-index: 9999;
  padding: 3px 9px;
  text-align: center;
  background: #e66401;
  color: white;
  border-radius: 3px;
  max-width: 60%;
}
.just-the-tip .jtt-inner {
  display: block;
}
.just-the-tip .title {
  font-style: italic;
}
.just-the-tip code {
  background: hsl(26, 99%, 35%);
  font-weight: bold;
  color: white;
}
.just-the-tip .time {
  opacity: 0.55;
}
.just-the-tip:after,
.just-the-tip:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.just-the-tip:after {
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #e66401;
  border-width: 7px;
  left: 50%;
  margin-left: -7px;
}
.just-the-tip:before {
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #e66401;
  border-width: 8px;
  left: 50%;
  margin-left: -8px;
}
/* Header bar */
.header {
  padding: 25px 25px;
  padding-bottom: 9px;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.9);
}
.header li.active {
  border-bottom: 3px solid #9ac96f;
}
#logo {
  float: left;
}
#logo img {
  height: 35px;
}
#navigation {
  float: left;
  margin-top: 5px;
  margin-left: 30px;
  padding-left: 30px;
  list-style: none;
}
#navigation li {
  float: left;
  margin-right: 40px;
  line-height: 1.7;
}
#navigation li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  color: #d5dae1;
}
#navigation li a:hover {
  color: #fff;
}
.header .button {
  display: inline!important;
  padding: 10px 20px 12px!important;
  border-radius: none!important;
  -webkit-border-radius: none!important;
  -moz-border-radius: none!important;
  display: block;
  padding: 15px;
  text-align: center;
  font-size: 1.4em;
  color: white;
  background: #8BB847;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.header .button:hover {
  background: #7fb24d;
}
